header {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin: 20px;
}

body {
    background: linear-gradient(215deg, #cfc -1%, #8e8 100%) fixed no-repeat;
    background-size: cover;
    min-height: 100%;

    font-family: 'Fira Sans', 'Fira Mono', sans-serif;
}

p {
    margin: 20px;
}

b {
    font-weight: bold;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

.text-center {
    text-align: center;
}

.content-wrapper {
    background-color: hsla(0, 100%, 100%, 0.94);
    margin: 0 auto 0 auto;
    padding: 20px;
    border-radius: 0 10px 10px 10px;
    min-height: 400px;
    /*border: 1px solid #333;*/
}

.book-wrapper{
    padding: 20px 40px 20px 40px;
    width: 80%;
    margin: auto;
}

.link-image {
    display: block;
    margin: auto;
}

